*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: pink;
}
.container{
    height: 100px;
    width: 100%;
    background-color: grey;
}
.box{
    /**justify-content: flex-end;  /**Pour partir de la fin**/
    /**justify-content: center;**/
    margin-left: 10px;


}
.vert{
    width: 80px;
    background-color: green;
    float: left;
    
}
.bleu{
    width: 80px;
    background-color: blue;
    float: left;
}
.rouge{
    width: 80px;
    background-color: red;
}
.violet{
    width: 80px;
    background-color: purple;

}