body{
    height: 100%;
    margin: 0;
}


#container1{
    display: flex;
    flex-direction: column;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 2%;
    background-color: #fbfbfb;
    z-index: 1;
    }
#logomemo img{
  width: 70px;
  height: 70px;
  }
#logoimg{
    display: flex;
    justify-content: flex-start;
    flex:3
}
  
    
    header img{  /*taille image logo dans la barre du haut*/  
      width: 110px;
      height: 110px;
      margin-left: 0;
      padding: 10px;
      align-self:baseline;
    

    }

 
  
    .nav__links a,
    .overlay__content a {  /* style des barres du menu */
      position: relative;
      font-family: "Quicksand", sans-serif;
      font-weight: 10;
      font-size: 17px;
      color: black;
      text-decoration: none;
      text-align: center;
      margin-left: auto;
    }
  
    .cta{ 
        flex:0.3;/*style du texte dans le bouton connexion*/
      font-family: "Quicksand", sans-serif;
      font-weight: 10;
      font-size: 18px;
      color:white;
      text-decoration: none;
    }
    
    .nav__links {  /*mettre en liste horizontal*/
      list-style: none;
      display: flex;
    }
    
    .nav__links li { /*faire des espaces entre chaque groupe de mot*/
      padding: 0px 50px;
    }
    
   .nav__links li a { /* chgmt de couleur quand curseur sur le mot qui dure 0.2s et commence apres 0s */
      transition: color 0.2s ease 0s;
    }
    
    .nav__links li a:hover { /* couleur du texte quand il curseur dessus*/
      color: #00ccff;
    }
    
    .cta { /*style cadre de connexion*/
      margin-left: 20px;
      padding: 9px 25px;
      background-color: #00ccff;
      border-radius: 10px;
      cursor: pointer;
      font-size: 20px;
      text-align: center;
    }
    
    .cta:hover { /*couleur du cadre quand curseur dessus*/
      background-color: #8aceff;
    }

    #containercentre{
        position: relative;
        margin-top: 5%;
        width: auto;
        height : 80%;
        font-family: "Quicksand";
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    h1{
      position: relative;
      text-align: center;
      margin-top: -9%;
      font-size: 3em;


    }
    hr{
      border-top: 7px solid #00ccff;
      margin-left: auto;
      margin-right: auto;
      width:90%;
      border-radius:90px;
      border-bottom:none;
      transition: width 1s ease 0.2s;
      margin-bottom: 5vw;
      }

  
    #forme1{
      position: relative;
      width: 400px;
      height: 15px;
      margin-top: 7%;
      margin-left: 22%;
      text-align: center;   
  }

  #container1{
    font-family: "Quicksand";
      display: grid;
      margin-top: 5%;
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  }

  #container{
    font-family: "Quicksand";
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
    margin-top: 2vw;
    
  }
  
  #enfantimage{
    max-width: 30%;
    height: 80%;
    box-sizing: border-box;
  }
  #enfanttexte{
    width: 50%;
    box-sizing: border-box;
  }
  
  #enfantimage img{
    width:50%;
    height:auto;
  }
  
  .boxdetexte{
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #dbdbdb;
    background:white;
    padding:3%;
    text-align:center;
  }

  p{
    font-size: 1.3em;
    text-align: justify;
    text-indent: 1.3em;
    margin-top: 1.3em;
    line-height: 1.4em;
  }

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 800px) {
    #containercentre{
      position: relative;
      margin-top: 5%;
      width: auto;
      height : 80%;
      font-family: "Quicksand";
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  #enfantimage{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    height: 80%;
    box-sizing: border-box;
  }
  #enfanttexte{
    margin-bottom: 7vw;
    width: 80%;
    box-sizing: border-box;
  }
  #container{
    font-family: "Quicksand";
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
    margin-top: 2vw;
    
  }
  h1{
    position: relative;
    text-align: center;
    margin-top: 9%;
    font-size: 9vw ;
    max-width: 80%;
  }
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #containercentre{
    position: relative;
    margin-top: 5%;
    width: auto;
    height : 80%;
    font-family: "Quicksand";
    display: flex;
    flex-direction: column;
    align-items : center;
}
hr{
  border-top: 7px solid #00ccff;
  margin-left: auto;
  margin-right: auto;
  width:60vw;
  border-radius:90px;
  border-bottom:none;
  transition: width 1s ease 0.2s;
  margin-bottom: 5vw;
  }
} 


/* Partie: Nos services */
#containerpartie2 {
  font-family: "Quicksand";
  display: grid;
  text-align: center;
  padding:2%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;

  
}

.chantier{
  grid-column: 1;
  grid-row: 1;
  border-radius: 60px;
  box-shadow: 3px 3px 2px 2px #dbdbdb;
  height: auto;
  width:80%;
  padding-bottom: 4%;
  align-self: center;
  justify-self: center;

}
.chantier img{
  border-radius: 60px 60px 0 0;
  height: 50%;
  width: 100%;
}
.stats{
  grid-column: 2;
  grid-row: 1;
  border-radius: 60px;
  box-shadow: 3px 3px 2px 2px #dbdbdb;
  width:80%;
  height: auto;
  padding-bottom: 4%;
  align-self: center;
  justify-self: center;

}
.stats img{
  border-radius: 60px 60px 0 0;
  height: 50%;
  width: 100%;
}

.forum{
  grid-column: 3;
  grid-row: 1;
  border-radius: 60px;
  box-shadow: 3px 3px 2px 2px #dbdbdb;
  width:80%;
  height: auto;
  padding-bottom: 4%;
  justify-self: center;

  
}
.forum img{
  border-radius: 60px 60px 0 0;
  height: 50%;
  width: 100%;
  
}

.p3{
  text-align: center;
  font-size: 1.2vw;
  margin: 2%;
}

p{
  padding:4%
}


a.btn_forum{
  margin-bottom: 2%;
  background-color: #00ccff;
  color: white;
  padding: 3%;
  border: none;
  cursor: pointer;
  width: 60%;
  height:10%;
  border-radius: 25px;
  font-family: "Quicksand";  
  text-align: center; 
  display: inline-block;
  text-decoration: none;
  font-size: 20px;

}

a.btn_forum:hover{

  background-color: white;
  color: black;
  border: 1px solid black;

}




/*Footer*/

.container{

  font-family: "Quicksand";
  width: 100%;

}
.row{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style:none;
}

.footer{
  background-color: rgb(0, 217, 255);
  padding: 75px 0;
  width: 100%;

}
.footer-col{
  width: 25%;
  padding:0 5%;

}
.footer-col h4{
  font-size:18px;
  color:aliceblue;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position:relative;
  
}
.footer-col h4::before{
  content: '';
  position:absolute;
  left:0;
  bottom: -10px;
  background-color:blue;
  height: 2px;
  box-sizing:border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color:aliceblue;
  display:block;
  transition: all 0,3s ease;
}
.footer-col ul li a:hover{
  color:rgba(22, 61, 190, 0.747);
  padding-left: 7px;

}
.footer-col .logo{
  width: 190px;
  height: 190px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(22, 61, 190, 0.747);
  margin-right: 0 10px 10px 0;
  text-align:center;
  line-height:40px;
  border-radius: 50px;
  color: rgb(255, 249, 249);
}
.footer-col .social-links a:hover{
  color:rgba(22, 61, 190, 0.747);
  background-color: aliceblue;
}