/*La barre de menu_____________________________*/
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 20;
}


/* menu deroulant */

.menu{
    width: 25px;
    height: 25px;
    margin-left: 0;
    color: white;
    float: left;
  }
  
  .profil{
    width: 30px;
    height: 30px;
    float: right;
    border-radius: 30px;
  
  }
  
  
  
  #menu{
    visibility: hidden;
    width: 0%;
    text-align: center;
    display: none;
  
  }
  
  li {
    list-style:none !important;
    color:black;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    }
    #menu_ul {
      background-color: #00ccff;
      padding:0;
    margin:0;
    border-radius: 10px;
  
    }
  
    #sous_menu{
      background-color: #00ccff;
      text-align: center;
      border-radius: 20px;
      width: 100%;
  
  
  
    }
    #menu_li {
    list-style: none;
    line-height:44px;
    float:left;
    background-color: #00ccff;
  }
    nav ul li a {
    padding:10px;
    font-size:20px;
    text-decoration:none;
    width: 100%;
    }
    li a:hover {
    border-bottom:3px #FFF solid;
    }
    nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */
    nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
    }
    nav ul li:hover ul li {
    float:none;
    }
  
    /* menu deroulant */


 /*debut header*/

 header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
    background-color: white;
  }

  #logomemo img{
  width: 70px;
  height: 70px;
  }

  #logoimg{
    display: flex;
    justify-content: flex-start;
    flex:3
}

  
  header img{  /*taille image logo dans la barre du haut*/  
    width: 110px;
    height: 110px;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
  }

  #test{
    flex:5
  }

  .nav__links a,
  .overlay__content a {  /* style des barres du menu */
    position: relative;
    font-family: "Quicksand", sans-serif;
    font-weight: 10;
    font-size: 17px;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
  }

  .cta{
    flex:0.3; /*style du texte dans le bouton connexion*/
    font-family: "Quicksand", sans-serif;
    font-weight: 10;
    font-size: 18px;
    color:white;
    text-decoration: none;
  }
  
  .nav__links {  /*mettre en liste horizontal*/
    list-style: none;
    display: flex;
  }
  
  .nav__links li { /*faire des espaces entre chaque groupe de mot*/
    padding: 0px 30px;
  }
  
 .nav__links li a { /* chgmt de couleur quand curseur sur le mot qui dure 0.5s et commence apres 0.1s */
    transition: color 0.5s ease 0.1s;
  }
  
  .nav__links li a:hover { /* couleur du texte quand il curseur dessus*/
    color: #00ccff;
  }
  
  .cta { /*style cadre de connexion*/
    margin-left: 20px;
    padding: 9px 15px;
    background-color: #00ccff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
  }
  
  .cta:hover { /*couleur du cadre quand curseur dessus*/
    background-color: #8aceff;
  }
  
/*Le centre________________________________*/
  
main{
    background-color:#fbfbfb;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: 20;
    padding:2%;
}
h1 hr{
  border-top: 7px solid #00ccff;
  margin-left: auto;
  margin-right: auto;
  width:16%;
  border-radius:90px;
  border-bottom:none;
  transition: width 1s ease 0.2s;
}
  
h1 hr:hover{
    width:20%;
}

#container{
    position:relative;
    width: 100%;
    height: 80%;
}

#jeu img{
    width: 100%;
    height: 80%;
    padding: 2px;
    border-radius:30px;
    


}

#jeu2 img{
    padding: 2px;
    width: 100%;
    height: 80%;
}



#jeu{
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 80%;
    margin-top: 5%;

}

#jeu2{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 80%;
    margin-top: 5%;


}

#regle {
    text-align: center;
    font-size: 25px;
}

#regle p{
    font-size:20px;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: 20;
    padding:2%; 
}
h2 hr{
    border-top: 7px solid #00ccff;
    margin-left: auto;
    margin-right: auto;
    width:16%;
    border-radius:90px;
    border-bottom:none;
    transition: width 1s ease 0.2s;
  }

  #rejouer {
    visibility: hidden;
}

input[type=button] {
    background-color: #00ccff;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    border-radius: 25px;
    font-size: 25px;
}


/*Footer*/

.container{

  max-width: 80vw;
  margin:10vw;
  font-family: "Quicksand";

}
.row{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style:none;
}

.footer{
  background-color: rgb(0, 217, 255);
  padding: 75px 0;
  position: absolute;
  width: 100%;
margin-top: 80%;

}
.footer-col{
  width: 25%;
  padding:0 5%;

}
.footer-col h4{
  font-size:18px;
  color:aliceblue;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position:relative;
  
}
.footer-col h4::before{
  content: '';
  position:absolute;
  left:0;
  bottom: -10px;
  background-color:blue;
  height: 2px;
  box-sizing:border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color:aliceblue;
  display:block;
  transition: all 0,3s ease;
}
.footer-col ul li a:hover{
  color:rgba(22, 61, 190, 0.747);
  padding-left: 7px;

}
.footer-col .logo{
  width: 190px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(22, 61, 190, 0.747);
  margin-right: 0 10px 10px 0;
  text-align:center;
  line-height:40px;
  border-radius: 50px;
  color: rgb(255, 249, 249);
}
.footer-col .social-links a:hover{
  color:rgba(22, 61, 190, 0.747);
  background-color: aliceblue;
}
@media(max-width: 700px){
  .footer-col .logo{
      width: 150px;
  }
  .footer-col{
      flex-basis: 100%;
      padding: 25px;

  }
  .footer-col:nth-child(2), .col:nth-child(3){
      flex-basis: 100%;
  }

  
}
  
/*Bienvenue/Mes services __________________________*/
h1 {
position: relative;
text-align: center;
font-size: 50px;
font-weight: 20;
padding:2%;
}
h1 hr{
border-top: 7px solid #00ccff;
margin-left: auto;
margin-right: auto;
width:40%;
border-radius:90px;
border-bottom:none;
transition: width 1s ease 0.1s;
}

h1 hr:hover{
margin-left:38%;
width:25%;
}
h2{
font-size: 40px;
margin-bottom:3%;
font-weight: 500;
text-align: center;
}

#container{
border-radius: 10px;
box-shadow: 5px 5px 5px 5px #dbdbdb;
background:white;
width: 90%;
margin-left: 5%;
margin-bottom: 2%;
}

.boxdetextedroite{
margin-top: 2%;
padding:3%;
text-align:center;
font-family: "Quicksand";
font-size: 20px;
width: 90%;
margin-left: 5%;
}

.boxdetextegauche{
margin-top: 2%;
padding:3%;
text-align:center;
font-family: "Quicksand";
font-size: 20px;
width: 90%;
margin-left: 5%;
}

  @media screen and (max-width: 1000px){

    .footer{
      background-color: rgb(0, 217, 255);
      padding: 75px 0;
      position: absolute;
        width: 100%;
        margin-top: 120%;
    
    }

    header{
        visibility: hidden;
        height: 0;
      }
    
      #menu{
        visibility: visible;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        display: block;

    
      }
      #regle{
        position: relative;
        margin-top: 90%;
        text-align: center;
        font-size: 25px;
    }

    #jeu img{
        width: 100%;
        height: 50%;
        padding: 2px;
        border-radius:20px;
        
    
    
    }
    
    #jeu2 img{
        padding: 2px;
        width: 100%;
        height: 50%;
    }

    }

    @media screen and (max-width: 500px){

      .footer{
        background-color: rgb(0, 217, 255);
        padding: 75px 0;
        position: absolute;
          width: 100%;
          margin-top: 220%;
      
      }

        header{
            visibility: hidden;
            height: 0;
          }
        
          #menu{
            visibility: visible;
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            display: block;

    
        
          }
          #regle{
            position: relative;
            margin-top: 0;
            text-align: center;
            font-size: 25px;
        }

        #container{
            height: 40%;
        }

        #regle{
            font-size: 20px;
        }

        tbody{
            height: 50%;
        }

        #jeu img{
            width: 100%;
            height: 50%;
            padding: 2px;
            border-radius:20px;
            
        
        
        }
        
        #jeu2 img{
            padding: 2px;
            width: 100%;
            height: 50%;
        }

     

   

   
        }

