/*La barre de menu*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
header{
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 2%;
  background-color: #fbfbfb;
  }

  
  header img{  /*taille image logo dans la barre du haut*/  
    width: 110px;
    height: 110px;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
  }

  .nav__links a,
  .overlay__content a {  /* style des barres du menu */
    position: relative;
    font-family: "Quicksand", sans-serif;
    font-weight: 10;
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
  }

  .cta{ /*style du texte dans le bouton connexion*/
    font-family: "Quicksand", sans-serif;
    font-weight: 10;
    font-size: 18px;
    color:white;
    text-decoration: none;
  }
  
  .nav__links {  /*mettre en liste horizontal*/
    list-style: none;
    display: flex;
  }
  
  .nav__links li { /*faire des espaces entre chaque groupe de mot*/
    padding: 0px 50px;
  }
  
 .nav__links li a { /* chgmt de couleur quand curseur sur le mot qui dure 0.2s et commence apres 0s */
    transition: color 0.2s ease 0s;
  }
  
  .nav__links li a:hover { /* couleur du texte quand il curseur dessus*/
    color: #00ccff;
  }
  
  .cta { /*style cadre de connexion*/
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #00ccff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .cta:hover { /*couleur du cadre quand curseur dessus*/
    background-color: #8aceff;
  }


  /*Le centre*/

h1 {
  position: relative;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  font-weight: 10;
}

h1 hr{
  border-top: 3px solid #00ccff;
  margin-left: auto;
  margin-right: auto;
  width:20%;
}


#container{
  position:relative;
  display: grid;
  height: auto;
  margin-right: 10%;
  margin-left: 10%;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto auto auto;

}

.boxdetextedroite{
  margin: auto;
  grid-column: 2;
  grid-row: 1;
  margin-left: -5%;
  padding: 5% 2%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #dbdbdb;
}
h2{
  
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 10;
}

h2 img{
  height: 10%;
  width: 10%;
}

p{
  padding-left: 20%;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 10;
}

img{
 
  width: 500px;
  height: 500px;
}
.imgeolienne{ /*image ex de l'eolienne jsp quelles proprietes mettre pour alligner avec le cadre de texte...*/  
  grid-column: 1;
  grid-row: 1;/*taille image*/
  margin-left: 25%;
  z-index: 1;
}


.boxdetextegauche{
  margin: auto;
  grid-column: 1;
  grid-row: 2;
  padding: 5% 2%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #dbdbdb;
  padding-right: 20%;
}

p2{
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 10;
}

.imgchantier{ /*idem */
  grid-column: 2;
  grid-row: 2;
  margin-right: 50%;
  z-index: 1;
  margin-left: -25%;
}



/* Partie: Nos services */
.alignertableau{
  align-items: flex-start;
}
.boxdetexte{
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #dbdbdb;
}