body{
    height: 100%;
    margin: 0;
}


#container1{
    display: flex;
    flex-direction: column;
    

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 2%;
  background-color: #fbfbfb;
  z-index: 1;
  }

#logoimg{
  display: flex;
  justify-content: flex-start;
  flex:3
}

  
  header img{  /*taille image logo dans la barre du haut*/  
    width: 110px;
    height: 110px;
    margin-left: 0;
    padding: 10px;
    align-self:baseline;
  

  }

 

  .nav__links a,
  .overlay__content a {  /* style des barres du menu */
    position: relative;
    font-family: "Quicksand", sans-serif;
    font-weight: 10;
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
  }

  .cta{ 
      flex:0.3;/*style du texte dans le bouton connexion*/
    font-family: "Quicksand", sans-serif;
    font-weight: 10;
    font-size: 18px;
    color:white;
    text-decoration: none;
  }
  
  .nav__links {  /*mettre en liste horizontal*/
    list-style: none;
    display: flex;
  }
  
  .nav__links li { /*faire des espaces entre chaque groupe de mot*/
    padding: 0px 50px;
  }
  
 .nav__links li a { /* chgmt de couleur quand curseur sur le mot qui dure 0.2s et commence apres 0s */
    transition: color 0.2s ease 0s;
  }
  
  .nav__links li a:hover { /* couleur du texte quand il curseur dessus*/
    color: #00ccff;
  }
  
  .cta { /*style cadre de connexion*/
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #00ccff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
  }
  
  .cta:hover { /*couleur du cadre quand curseur dessus*/
    background-color: #8aceff;
  }


  #container{
 
      font-family: "Quicksand";
  }

  #container-title{
    position: relative;
    margin-top: 4%;
    margin-left:32% ;
}

  h1{

    position: relative;
    font-size: 3em;
    margin-top: -6%;
    font-weight: 500;
   
}

#forme1{
    position: relative;
    width: 510px;
    height: 25px;
    margin-top: -10px;
    margin-left: 6%;
    
}

#gauche{
    position: absolute;
    width : 50%;
    height : 75%;
    margin-top : 5%;
    margin-left:2%;

}

.button1{
    padding:20px,50px;
    display: flex;
    flex-direction: row;
}

.form-group {
    position: relative;
    margin-top: 3%;
    width:50%;
    background: #fff;
    margin-left: 25%;
   
}


input[type=text], input[type=email] {
    font-size: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: "Quicksand";  
    
}


input[type=text], input[type=password] {
    font-size: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: "Quicksand";  
}


label {
    margin-left: 25%;
    font-family: "Quicksand";  
    font-size: 20px;
    padding-right: 10px;
}

select {
  margin-top: 2%;
    font-family: "Quicksand";  
    font-size: 20px;
    padding: 2px 5px;
    border-radius: 20px;
}

footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.output {
    position: relative;
}



button[type=submit]{
    font-size: 20px;
    background-color: #00ccff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
    font-family: "Quicksand";  
    text-decoration: none;
}

button[type=submit]:hover, a.button2:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}


.line{
  position: absolute;
  width: 2px;
  height:60%;
  margin-left: 50%;
  margin-top: 5%;
}


#pp{
          
  position: absolute;
  margin-left: 65%;
  text-align: center;
  margin-top: 2%;

  
  
}

.avatar{
  width: 450px;
  height: 450px;
  background-size: cover;
  border-radius: 500px;
  border: solid 2px black;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2), 0 15px 15px 0 rgba(0, 0, 0, 0.24);
  display: block;
  margin-top: 8%;

}

input[type=file] {
  margin-top: 5%;
  font-family: "Quicksand";
  
  
}

button {
  
  margin-top: 5%;
  background-color: #00ccff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 52%;
  border-radius: 25px;
  font-family: "Quicksand";  
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

button1 {
  
  margin-top: 5%;
  background-color: #00ccff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 52%;
  border-radius: 25px;
  font-family: "Quicksand";  
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

button2 {

background-color: #00ccff;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 52%;
border-radius: 25px;
font-family: "Quicksand";  
text-align: center;
display: inline-block;
text-decoration: none;
color: white;
font-size: 30px;
}

.button:hover, button:hover, button1:hover ,button2:hover{
background-color: white;
color: black;
border: 1px solid black;
}

a{
  text-decoration: none;
}

