body{
    height: 100%;
    margin: 0;
}


#container1{
    display: flex;
    flex-direction: column;
    

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 /*debut header*/

 header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 2%;
  background-color: white;
}

#logomemo img{
width: 70px;
height: 70px;
}

#logoimg{
  display: flex;
  justify-content: flex-start;
  flex:3
}


header img{  /*taille image logo dans la barre du haut*/  
  width: 110px;
  height: 110px;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
}

#test{
  flex:5
}

.nav__links a,
.overlay__content a {  /* style des barres du menu */
  position: relative;
  font-family: "Quicksand", sans-serif;
  font-weight: 10;
  font-size: 17px;
  color: black;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
}

.cta{
  flex:0.3; /*style du texte dans le bouton connexion*/
  font-family: "Quicksand", sans-serif;
  font-weight: 10;
  font-size: 18px;
  color:white;
  text-decoration: none;
}

.nav__links {  /*mettre en liste horizontal*/
  list-style: none;
  display: flex;
}

.nav__links li { /*faire des espaces entre chaque groupe de mot*/
  padding: 0px 30px;
}

.nav__links li a { /* chgmt de couleur quand curseur sur le mot qui dure 0.5s et commence apres 0.1s */
  transition: color 0.5s ease 0.1s;
}

.nav__links li a:hover { /* couleur du texte quand il curseur dessus*/
  color: #00ccff;
}

.cta { /*style cadre de connexion*/
  margin-left: 20px;
  padding: 9px 15px;
  background-color: #00ccff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.cta:hover { /*couleur du cadre quand curseur dessus*/
  background-color: #8aceff;
}

    #title{
      margin-top: 2%;
      align-items: center;
      margin-left: 35%;      
      display: flex;
      width : 28%;
      flex-direction: column;
      font-family: "Quicksand", sans-serif;
    }

        titre1{
            color : black;
            position: relative;
            font-size: 2.5em;
            margin-top: 2%;
           text-align: center;
           font-family: "Quicksand";  
           font-weight: bold;
        }
        
        .forme1{
            width: 80%;
            height: 15px;
            margin-top: -2%;
            margin-left: 10%;
            
        }



        #gauche{
          position: absolute;
          width : 50%;
          height : 75%;
          margin-top : 12%;
          margin-left:2%;
      
      }

      t{
        font-family: "Quicksand";
        font-weight: bold;
        margin-left: 2%;
      }
      
    
      
      .form-group {
          position: relative;
          margin-top: 3%;
          width:50%;
          background: #fff;
          margin-left: 25%;
         
      }
      
      
      input[type=text], input[type=email] {
          font-size: 20px;
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
          border-radius: 25px;
          font-family: "Quicksand";  
          
      }
      
      
      input[type=text], input[type=password] {
          font-size: 20px;
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
          border-radius: 25px;
          font-family: "Quicksand";  
      }

      input[type=text], input[type=id_chantier] {
        font-size: 20px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 25px;
        font-family: "Quicksand";  
        
    }
    
    input[type=text], input[type=pseudo] {
        font-size: 20px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 25px;
        font-family: "Quicksand";  
        
    }


      label {
        
        
        font-family: "Quicksand";  
        font-size: 20px;
        padding-right: 10px;
    }
    
    select {
      
      margin-top: 2%;
        font-family: "Quicksand";  
        font-size: 20px;
        padding: 2px 5px;
        border-radius: 20px;
    }
    
    footer {
        font-size: .8rem;
        position: absolute;
        bottom: 30px;
     
    }
    
    .output {
        position: relative;
    }

    .button1{
      margin-top: 2%;
      margin-left: 25%;
      display: flex;
      flex-direction: row;
  }


    button[type=submit]{
      background-color: #00ccff;
      color: white;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      border-radius: 25px;
      font-family: "Quicksand";  
      text-align: center;
      display: inline-block;
      text-decoration: none;
      color: white;
      font-size: 20px;
      width: 30%;
  }


      .button {
        background-color: #00ccff;
        color: white;
        padding: 14px 20px;
        margin: 8px;
        border: none;
        cursor: pointer;
        border-radius: 25px;
        font-family: "Quicksand";  
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 20px;
        width: 30%;
    }

    .msg-form{
      position: relative;
      width:500px;
      height: auto;;
      font-family: "Quicksand";
      margin-left:25%;
      
    }
    
    .alert{
      position: relative;
      width: 800px;
      height: 30px;
      color : red;
      font-family: "Quicksand";
      font-size: 1.5em;
    
    }

    .line{
      position: absolute;
      width: 2px;
      height:60%;
      margin-left: 50%;
      margin-top: 15%;
    }

    
        #pp{
          
          position: absolute;
          margin-left: 60%;
          text-align: center;
          margin-top: 12%;
      
          
          
        }

        .avatar{
          width: 500px;
          height: 500px;
          background-size: cover;
          border-radius: 500px;
          border: solid 2px black;
          box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2), 0 15px 15px 0 rgba(0, 0, 0, 0.24);
          display: block;
          margin-top: 8%;
    
        }

        input[type=file] {
          margin-top: 5%;
          font-family: "Quicksand";
          
          
        }

        button {
          
          margin-top: 5%;
          background-color: #00ccff;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 52%;
          border-radius: 25px;
          font-family: "Quicksand";  
          text-align: center;
          display: inline-block;
          text-decoration: none;
          color: white;
          font-size: 30px;
      }

        button1 {
          
          margin-top: 5%;
          background-color: #00ccff;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 52%;
          border-radius: 25px;
          font-family: "Quicksand";  
          text-align: center;
          display: inline-block;
          text-decoration: none;
          color: white;
          font-size: 30px;
      }

      button2 {
        
        background-color: #00ccff;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 52%;
        border-radius: 25px;
        font-family: "Quicksand";  
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 30px;
    }

     .button:hover, button:hover, button1:hover ,button2:hover{
        background-color: white;
        color: black;
        border: 1px solid black;
    }

        a{
          text-decoration: none;
        }
    
        
       
    
        @media screen and (max-width: 1000px){

          #pp{
            position: absolute;
            margin-left: 40%;
            margin-top: 25%;
            
          }

          .avatar{
            width:200px;
            height:200px;
          }


          button[type=submit]{
            position: relative;
   
   
         
        }

          .line{
            width:50%;
            height: 2px;
            margin-top: 65%;
            margin-left: 25%;

          }

          #title{
            width:90%;
            margin-left: 5%;
          }

          #gauche{
            position: relative;
            margin-top: 45%;
            margin-left: 5%;
            width: 90%;
          }

        

        }

        @media screen and (max-width: 500px){

          #pp{
            position: absolute;
            margin-left: 32%;
            margin-top: 40%;
            
          }

          .avatar{
            width:150px;
            height:150px;
          }


           button[type=submit]{

            position: relative;
            font-size: 10px;
            margin-left: -10%;
            width: 50%;
   
  
          }

          label{
            font-size: 10px;
            
          }

          input[type=file]{
            font-size: 10px;
            margin-left: -54%;

          }



          .line{
            width:50%;
            height: 2px;
            margin-top: 100%;
            margin-left: 25%;

          }

          #title{
            width:90%;
            margin-left: 5%;
            font-size: 10px;
          }

          #gauche{
            font-size: 15px;
            position: relative;
            margin-top: 65%;
            margin-left: 2%;
            width: 100%;
          }

          input[type=text], input[type=email] {
            font-size: 15px;
          }

          input[type=text], input[type=password] {
            font-size: 15px;
          }

          select{
            font-size: 10px;

          }

          .button{
            font-size: 10px;
            width: 50%;

          }

        

        }