* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 20;
  }
  
    header {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 20px 2%;
      background-color: white;
    }
    #logomemo img{
      width: 70px;
      height: 70px;
      }
    #logoimg{
      display: flex;
      justify-content: flex-start;
      flex:3
  }
  
    
    header img{  /*taille image logo dans la barre du haut*/  
      width: 110px;
      height: 110px;
      margin-right: auto;
      margin-top: 10px;
      padding: 10px;
    }
  
    #test{
      flex:5
    }
  
    .nav__links a,
    .overlay__content a {  /* style des barres du menu */
      position: relative;
      font-family: "Quicksand", sans-serif;
      font-weight: 10;
      font-size: 17px;
      color: black;
      text-decoration: none;
      text-align: center;
      margin-left: auto;
    }
  
    .cta{
      flex:0.3; /*style du texte dans le bouton connexion*/
      font-family: "Quicksand", sans-serif;
      font-weight: 10;
      font-size: 18px;
      color:white;
      text-decoration: none;
    }
    
    .nav__links {  /*mettre en liste horizontal*/
      list-style: none;
      display: flex;
    }
    
    .nav__links li { /*faire des espaces entre chaque groupe de mot*/
      padding: 0px 50px;
    }
    
   .nav__links li a { /* chgmt de couleur quand curseur sur le mot qui dure 0.5s et commence apres 0.1s */
      transition: color 0.5s ease 0.1s;
    }
    
    .nav__links li a:hover { /* couleur du texte quand il curseur dessus*/
      color: #00ccff;
    }
    
    .cta { /*style cadre de connexion*/
      margin-left: 20px;
      padding: 9px 25px;
      background-color: #00ccff;
      border-radius: 10px;
      cursor: pointer;
      font-size: 20px;
      text-align: center;
    }
    
    .cta:hover { /*couleur du cadre quand curseur dessus*/
      background-color: #8aceff;
    }
    
h1{
    margin-top: 5%;
 
    position: relative;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
}
hr{
  border-top: 7px solid #00ccff;
  margin-left: auto;
  margin-right: auto;
  width:30%;
  border-radius:90px;
  border-bottom:none;
  transition: width 1s ease 0.2s;
  }
  

h2{
    text-align: center;
    font-size: 2.3vw;
    height: 20%;
}

.image1{
    width: 40vw;
    border-radius: 50%;
}

.image2{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: auto;
    vertical-align: baseline;
}

.DivGrid{
    display: grid;
    grid-template-columns: 40vw 4vw 40vw;
    width: 74vw;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 24px;
    margin-top: 5%;

}

.deux {
    grid-column: 3;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 0px 30px rgb(167, 161, 161) ;
    vertical-align: baseline;
}

.Grid1{
    position: relative;
    display: grid;
    grid-template-columns: 10% 90%;

}

.Deux_2{
    grid-column: 2;
    grid-row: 1;
    font-size: 2vw;
    margin: 0;
    display : flex;
    align-items: center;
    justify-content: center;
    
}

.center{
    margin-top: 10%;
    vertical-align: baseline;
    text-align: center;
    font-size: 1.4vw;
    height: 50%;
}

.Grid_chantier{
    display: grid;
    grid-template-columns: 40vw 4vw 40vw;
    margin-left: 8vw;
    margin-right:  8vw;
    margin-top: 5%;

}

.Gauche{
    grid-column: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 0px 30px rgb(167, 161, 161) ;
}

.Droite {
    grid-column: 3;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 0px 30px rgb(167, 161, 161) ;
}

.texte {
    margin-top: 10%;
    font-size: 1.4vw;
}

.liste{
    font-size: 1.4vw;
    margin-top: 3px;
}

.Image_3{
    margin-top: 1vh;
    width: 100%;
}
.Center_barre{
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Barre{
    width: 2px;
    height: 80%;
    background-color: aqua;
}

.Grid_last{
    margin-top: 5vw;
    display: grid ;
    grid-template-columns: 26vw 26vw 26vw ;
    gap: 3vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

.container{
    width: 100%;
    height: auto;
    padding-left: 3%;
    padding-right: 100px;
}

.Premier_element{
    width: 26vw;
    height: auto;
    columns: 1;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px rgb(167, 161, 161) ;


}

.Image_bottom{
    width: 26vw;
    height: 50%;
    object-fit: cover;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
    
}

.Deuxieme_element{
    width: 26vw;
    height: auto;
    columns: 2;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px rgb(167, 161, 161) ;
}

.Troisème_element{
    width: 26vw;
    height: auto;
    columns: 3;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px rgb(167, 161, 161) ;

}

.container{

  max-width: 2000px;
  margin:20px;
  font-family: "Quicksand";

}
.row{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style:none;
}

.footer{
  margin-top: 10%;
  background-color: rgb(0, 217, 255);
  padding: 75px 0;

}
.footer-col{
  width: 25%;
  padding:0 5%;

}
.footer-col h4{
  font-size:18px;
  color:aliceblue;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position:relative;
  
}
.footer-col h4::before{
  content: '';
  position:absolute;
  left:0;
  bottom: -10px;
  background-color:blue;
  height: 2px;
  box-sizing:border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color:aliceblue;
  display:block;
  transition: all 0,3s ease;
}
.footer-col ul li a:hover{
  color:rgba(22, 61, 190, 0.747);
  padding-left: 7px;

}
.footer-col .logo{
  width: 190px;
  height: 190px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(22, 61, 190, 0.747);
  margin-right: 0 10px 10px 0;
  text-align:center;
  line-height:40px;
  border-radius: 50px;
  color: rgb(255, 249, 249);
}
.footer-col .social-links a:hover{
  color:rgba(22, 61, 190, 0.747);
  background-color: aliceblue;
}
