/*La barre de menu_____________________________*/
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 20;
}

p{
  font-size: 1.1em;
  text-align: justify ;
  line-height : 1.5em;
  text-indent: 1.5em ;
  
}

/* menu deroulant */

.menu{
  width: 25px;
  height: 25px;
  margin-left: 0;
  color: white;
  float: left;
}

.profil{
  width: 30px;
  height: 30px;
  float: right;
  border-radius: 30px;

}



#menu{
  visibility: hidden;
  width: 100%;
  text-align: center; 
  display: none;

}

li {
  list-style:none !important;
  color:black;
  padding:10px;
  font-size:20px;
  text-decoration:none;
  }
  #menu_ul {
    background-color: #00ccff;
    padding:0;
  margin:0;
  border-radius: 10px;

  }

  #sous_menu{
    background-color: #00ccff;
    text-align: center;
    border-radius: 20px;
    width: 100%;



  }
  #menu_li {
  list-style: none;
  line-height:44px;
  float:left;
  background-color: #00ccff;
}
  nav ul li a {
  padding:10px;
  font-size:20px;
  text-decoration:none;
  width: 100%;
  }
  li a:hover {
  border-bottom:3px #FFF solid;
  }
  nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */
  nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
  z-index:99999;
  display:list-item !important;
  position:absolute;
  margin-top:5px;
  margin-left:-10px;
  }
  nav ul li:hover ul li {
  float:none;
  }

  /*FIN menu deroulant */

  header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;
    background-color: white;
  }

  #logomemo img{
  width: 70px;
  height: 70px;
  }

  #logoimg{
    display: flex;
    justify-content: flex-start;
    flex:3
}

  
  header img{  /*taille image logo dans la barre du haut*/  
    width: 110px;
    height: 110px;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
  }

  #test{
    flex:5
  }

  .nav__links a,
  .overlay__content a {  /* style des barres du menu */
    position: relative;
    font-family: "Quicksand", sans-serif;
    font-weight: 10;
    font-size: 17px;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
  }

  .cta{
    flex:0.3; /*style du texte dans le bouton connexion*/
    font-family: "Quicksand", sans-serif;
    font-weight: 10;
    font-size: 18px;
    color:white;
    text-decoration: none;
  }
  
  .nav__links {  /*mettre en liste horizontal*/
    list-style: none;
    display: flex;
  }
  
  .nav__links li { /*faire des espaces entre chaque groupe de mot*/
    padding: 0px 40px;
  }
  
 .nav__links li a { /* chgmt de couleur quand curseur sur le mot qui dure 0.5s et commence apres 0.1s */
    transition: color 0.5s ease 0.1s;
  }
  
  .nav__links li a:hover { /* couleur du texte quand il curseur dessus*/
    color: #00ccff;
  }
  
  .cta { /*style cadre de connexion*/
    margin-left: 20px;
    padding: 9px 15px;
    background-color: #00ccff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
  }
  
  .cta:hover { /*couleur du cadre quand curseur dessus*/
    background-color: #8aceff;
  }

  /*Le centre________________________________*/

  main{
	  background-color:#fbfbfb;
  }

/*Bienvenue/Mes services __________________________*/
h1 {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-weight: 20;
  padding:2%;
}
h1 hr{
border-top: 7px solid #00ccff;
margin-left: auto;
margin-right: auto;
width:20%;
border-radius:90px;
border-bottom:none;
transition: width 1s ease 0.2s;
}

h1 hr:hover{
  width:28%;
}
h2{
	font-size: 2em;
  margin-top:3%;
	margin-bottom:3%;
	font-weight: 2em;
}
/*PARTIE AVEC IMAGES EOL+CHAN et texte________________*/
#container{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content:center;
	align-items:center;
	gap:5px; 
  margin-bottom: min(40px);
	
}

#enfantimage{
	width: 35vw;
	box-sizing: border-box;
}
#enfanttexte{
	width: 40%;
	box-sizing: border-box;
}

#enfantimage img{
	width:100%;
	height:auto;
}

.boxdetexte{
	border-radius: 10px;
  min-height: 25vw;
	box-shadow: 5px 5px 5px 5px #dbdbdb;
	background:white;
	padding:3%;
	text-align:center;
}

.boxdetexte img{
	width:10%;
	height:auto;
}


.img1{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}


/* Partie: Nos services */
#containerpartie2 {
  font-family: "Quicksand";
  display: grid;
  text-align: center;
  padding:2%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

  
}

.chantier{
  grid-column: 1;
  grid-row: 1;
  border-radius: 60px;
  box-shadow: 3px 3px 2px 2px #dbdbdb;
  height: auto;
  width:80%;
  padding-bottom: 4%;
  align-self: center;
  justify-self: center;

}
.chantier img{
  border-radius: 60px 60px 0 0;
  height: 50%;
  width: 100%;
}
.stats{
  grid-column: 2;
  grid-row: 1;
  border-radius: 60px;
  box-shadow: 3px 3px 2px 2px #dbdbdb;
  width:80%;
  height: auto;
  padding-bottom: 4%;
  align-self: center;
  justify-self: center;

}
.stats img{
  border-radius: 60px 60px 0 0;
  height: 50%;
  width: 100%;
}

.forum{
  grid-column: 3;
  grid-row: 1;
  border-radius: 60px;
  box-shadow: 3px 3px 2px 2px #dbdbdb;
  width:80%;
  height: auto;
  padding-bottom: 4%;
  justify-self: center;

  
}
.forum img{
  border-radius: 60px 60px 0 0;
  height: 50%;
  width: 100%;
  
}

.p3{
  text-align: center;
  font-size: 1.2vw;
  margin: 2%;
}

p{
  padding:4%
}


a.btn_forum{
  margin-bottom: 2%;
  background-color: #00ccff;
  color: white;
  padding: 3%;
  border: none;
  cursor: pointer;
  width: 60%;
  height:10%;
  border-radius: 25px;
  font-family: "Quicksand";  
  text-align: center; 
  display: inline-block;
  text-decoration: none;
  font-size: 20px;

}

a.btn_forum:hover{

  background-color: white;
  color: black;
  border: 1px solid black;

}




/*Footer*/

.container{

  max-width: 80vw;
  margin:10vw;
  font-family: "Quicksand";

}
.row{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style:none;
}

.footer{
  background-color: rgb(0, 217, 255);
  padding: 75px 0;

}
.footer-col{
  width: 25%;
  padding:0 5%;

}
.footer-col h4{
  font-size:18px;
  color:aliceblue;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position:relative;
  
}
.footer-col h4::before{
  content: '';
  position:absolute;
  left:0;
  bottom: -10px;
  background-color:blue;
  height: 2px;
  box-sizing:border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color:aliceblue;
  display:block;
  transition: all 0,3s ease;
}
.footer-col ul li a:hover{
  color:rgba(22, 61, 190, 0.747);
  padding-left: 7px;

}
.footer-col .logo{
  width: 190px;
  height: 190px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(22, 61, 190, 0.747);
  margin-right: 0 10px 10px 0;
  text-align:center;
  line-height:40px;
  border-radius: 50px;
  color: rgb(255, 249, 249);
}
.footer-col .social-links a:hover{
  color:rgba(22, 61, 190, 0.747);
  background-color: aliceblue;
}





@media (max-width: 800px) {

  header{
    visibility: hidden;
    height: 0;
  }

  #menu{
    visibility: visible;
    font-family: Arial, Helvetica, sans-serif;
    display: block;

  }
  
  #container{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content:center;
    align-items:center;
    
  }
  
  #enfantimage{
    
    width: 60vw;
    box-sizing: border-box;
  }
  #enfanttexte{
    order: 1;
    position: relative;
    bottom: 15vw;
    width: 80%;
    box-sizing: border-box;
  }
  
  #enfantimage img{
    width:100%;
    height:auto;
  }
  
  .boxdetexte{
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #dbdbdb;
    background:white;
    padding:3%;
    text-align:center;
  }
  
  .boxdetexte img{
    width:10%;
    height:auto;
  }
  
  
  .img1{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
  }

  /*Footer*/

  #containerpartie2 {
    font-family: "Quicksand";
    display: grid;
    justify-content: space-between;
    text-align: center;
    justify-content: space-around;
    gap: 10vw;
    padding-left:10vw;
    padding-right:10vw;
  }
  
  .chantier{
    grid-column: 1;
    grid-row: 1;
    border-radius: 60px;
    box-shadow: 3px 3px 2px 2px #dbdbdb;
    
    height: auto;
    width:auto
  }
  .chantier img{
    border-radius: 60px 60px 0 0;
    height: 50%;
    width: 100%;
  }
  .stats{
    grid-column: 1;
    grid-row: 2;
    border-radius: 60px;
    box-shadow: 3px 3px 2px 2px #dbdbdb;
    
    width:auto;
    height: auto;
  }
  .stats img{
    border-radius: 60px 60px 0 0;
    height: 50%;
    width: 100%;
  }
  
  .forum{
    grid-column: 1;
    grid-row: 3;
    border-radius: 60px;
    box-shadow: 3px 3px 2px 2px #dbdbdb;
   
    height: auto;
    width:auto;
  }
  .forum img{
    border-radius: 60px 60px 0 0;
    height: 50%;
    width: 100%;
  }
  
  .p3{
    text-align: center;
    font-size: 1.2vw;
    margin: 2%;
  }
  h1 hr{
    border-top: 7px solid #00ccff;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    border-radius:90px;
    border-bottom:none;
    transition: width 1s ease 0.2s;
    }
}
